@import url('https://fonts.cdnfonts.com/css/minecraftia');

* {
    font-family: 'Minecraftia', sans-serif;
}

.pink_heading {
    font-weight: bold;
    color: #cd0d79;
    text-shadow: rgb(255, 122, 122, 0.6) 4px 3px 0px;
}

body {
    text-align: center;
}
.content {
    text-align: left;
    display: inline-block;
    max-width: 80%;
}

.q_label {
    margin: 10px;
    background-color: rgb(247, 193, 193);
}

.question_text {
    text-align: center;
}

.choice_option {
    color: #2F2C23;
    padding: 2px;
}

.centered_choice_option {
    color: #2F2C23;
    padding: 2px;
    text-align: center;
}

.question_card {
    margin: 30px;
    padding: 20px;
    background-color: rgb(247, 193, 193);
    border: 1px solid #A03596;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 10px 13px 11px 5px rgba(0,0,0,0.56); 
    box-shadow: 10px 13px 11px 5px rgba(0,0,0,0.56);
}

.stat_row {
    display: table;
    margin-bottom: 10px;
}

.stat_card {
    display: table-cell;
    width: 30%;
    border: 2px dashed #cb50bf;
    border-radius: 8px;
    padding: 15px;
}

.card_title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}